.container{
    height: 60vh;

}
.logo{
    float: left;
    height: 5vh;
    width: 20%;
    border: 2px solid red;
    text-align: center;
    align-content: center; 
}
.navbar{
    height: 5vh;
    width: 100%;  
    border: 2px solid blue;
} 
a{
    padding: 20px;
}
.sidebar{
    padding: 1px;
    float:left;
    height: 53vh;
    width: 60vh;
    border: 2px solid gray; 
}
.sbox{
    margin: 15px; 
    text-align: center;
    vertical-align: middle;
    align-content: center;
    border: 2px solid green;
    height: 10%;
}
.main{
    border: 2px solid maroon;
    height: 99%;
    width:69.5%;
    float: right;
}   

.mbox{
    margin: 10px;
    border: 2px solid rgb(130, 8, 8);
    height: 24vh;
    width: 140vh;
}

.box1{
    float: left;
    margin: 10px;
    border:2px dotted orange;
    height: 7vh;
    width: 135vh;
}
.box2{
    float: left;
    margin: 20px;
    border:2px dotted red;
    height: 15vh;
    width: 40vh;
}
.content{
    height: 89%;
    border: 2px solid beige;
}

.footer{
    text-align: center;
    border: 2px solid firebrick;
    height: 5vh;
    padding-top: 10px;
}
